# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
leyou.iml
ly-api-gateway/ly-api-gateway.iml
ly-api-gateway/target/
ly-auth-centor/ly-auth-centor.iml
ly-auth-centor/ly-auth-common/ly-auth-common.iml
ly-auth-centor/ly-auth-common/target/
ly-auth-centor/ly-auth-service/ly-auth-service.iml
ly-auth-centor/ly-auth-service/target/
ly-cart/ly-cart.iml
ly-cart/target/
ly-common/ly-common.iml
ly-common/target/
ly-goods-service/ly-goods-service.iml
ly-goods-service/target/
ly-item/ly-item-interface/ly-item-interface.iml
ly-item/ly-item-interface/target/
ly-item/ly-item-service/target/
ly-item/ly-item.iml
ly-order/ly-order.iml
ly-order/target/
ly-register/ly-register.iml
ly-register/target/
ly-search/target/
ly-sms-service/ly-sms-service.iml
ly-sms-service/target/
ly-upload/ly-upload.iml
ly-upload/target/
ly-user/ly-user-interface/ly-user-interface.iml
ly-user/ly-user-interface/target/
ly-user/ly-user-service/ly-user-service.iml
ly-user/ly-user-service/target/
ly-user/ly-user.iml